
.email{
    margin-left: 15px;
    color: #2E2E2E;
}

.img{
    border-radius: 50%;
}

.imgpage{
    border-radius: 10%;
    background-color: lavender;
}

.text{
    text-align: center;
    color: #2E2E2E;
}

.tap{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: #2E2E2E;
}

.berM{
    display: flex;
    margin-top: 14px;
}

.user{
    margin-left: 770px;
}
.logout{
    margin-top: 5px;
    margin-left: 10px;
    
}
.topbar{
    display: flex;
    justify-content: flex-end;

}


.web{
    color: #2E2E2E;
    text-align: left;
    margin-bottom: 50px;
    display: flex;
    background-color:#ffffff;
    width: 300px;
    border-radius: 5%;
    padding: 10px;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.toptext{
    color: rgba(0, 0, 0, 0.9);
}

.sign{
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
}
.OR{
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
   background-image: url("https://www.jing.fm/clipimg/detail/259-2590512_clouds-texture-png-realistic-transparent-background-clouds-png.png" ); 

}

.bg{
   margin-left: 950px;
   margin-top: -700px;
}