.li{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    margin: 0 16px 16px 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
}
.container{
    display: flex;
    flex-direction: row;
}

.dele{
    margin-left: 10px;
}


.link{
    margin-left: 80px;
}


.id{
    position: absolute;
    right: 4px;
    top: 2px;
}
.name{
    margin-left: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.detail{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    flex: 0.2;
}


.btn1{
    background-color: #4285F4; 
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}
.btn2{
    background-color: #ff4444;
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;

    border-radius: 10%;
}
.btn1 > div:hover {
  
    background-color: rgb(255, 220, 154);

}
